# .gitignore
# Determines the files to not track with git
# IFJ project
# FIT VUT
# 2017/2018


### Temporary files ###
*.dep
*~

### Object files ##
*.o

### Precompiled Headers ###
*.gch

### Libraries ###
*.a
*.so

### Executables ###
*.exe
*.out
ifj

### Documentation ###
*.pdf
*.aux
*.toc
*.log
